ul li {
	
	list-style: none;
	
	width: 150px;
	height: 30px;
	text-align: center;
	
		
	font-style: bold;
	
}

ul li a:hover {
	text-decoration: none;
	border: 1.5px solid white;
	font-style: bold;
}

ul li ul li {
	display:none;
	width: 150px;
	height: 30px;
	text-align: center;
	background-color: #222222;
	border: 1.5px solid white;
	padding: 2px;
	color: #616161;
	font-style: bold;
 	color: #222222;

}

ul li:hover ul li  {

	display: block;
  	float: right;
	opacity: .5;

	font-style: bold;
	
}

.colr {
color: white;
font-style: bold;

}

.mid{
	margin-left: 200px;
	margin-right: 200px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	-moz-box-shadow: 5px 5px 5px 5px #777777;
-webkit-box-shadow: 5px 5px 5px 5px #777777;
box-shadow: 5px 5px 5px 5px #777777;
text-align; center;
 background-image: url("images/large.jpg");
 background-attachment: fixed;
 padding: 4px;
}

.float{
	float: right;
}



